# --- Frontend .gitignore ---

# Dependencies (Very heavy - Do not commit)
node_modules/
**/node_modules/

# Build Outputs (Generated automatically)
dist/
build/
out/
dist-ssr/
**/dist/
**/build/
**/out/
**/dist-ssr/

# Tool cache
.vite/
**/.vite/

# Test coverage
coverage/
**/coverage/

# Environment Variables / Secrets
.env
.env.*
!.env.example

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# OS / editor local files
.DS_Store
.idea/

# IDE / Editor Configuration
.vscode/

# PlatformIO
.pio/

*.code-workspace
.idea/

# General Logs and Temporary Files
*.log
temp/
tmp/